@font-face {
  font-family: "roboto";
  src: url("/fonts/roboto.ttf");
}

.loginContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "roboto";
}

.loginForm {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  /* background-color: rgba(0, 0, 0, 0.3); */
  width: 300px;
}

.loginTitle {
  font-size: 20px;
  text-align: center;
  color: black;
}
