@font-face {
  font-family: "roboto";
  src: url("/fonts/roboto.ttf");
}

.slick-dots {
  bottom: -100px !important;
}

.offerText {
  background: linear-gradient(to right, #ffffff 0%, #6bcebf 50%, #ffffff 100%);
  color: white;
  text-shadow: 0 0 10px black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.offerCard {
  background: linear-gradient(to right, #ffffff 0%, #6bcebf 50%, #ffffff 100%);
}

.custom-slider {
  width: 100%;
}
